* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    overflow: clip;
}

.box {
    /* background-color: #00bcd4; */
    border: solid 3px #00bcd4;
    position: relative;
    user-select: none;
    cursor: grab;
    transform: translate(-50%, -50%);
}

.box:active {
    cursor: grabbing;
}

.box-wrapper {
    position: absolute;
    transform-origin: top left;
    user-select: none;
}

.dot {
    height: 10px;
    width: 10px;
    background-color: #fff;
    position: absolute;
    border-radius: 100px;
    border: 1px solid white;
    user-select: none;
    box-shadow: 0px 0px 1px 1px;
}

.dot:hover {
    background-color: #0d47a1;
}

.dot.left-top {
    top: -6px;
    left: -6px;
    /* cursor: nw-resize; */
}

.dot.left-bottom {
    bottom: -6px;
    left: -6px;
    /* cursor: sw-resize; */
}

.dot.right-top {
    top: -6px;
    right: -6px;
    /* cursor: ne-resize; */
}

.dot.right-bottom {
    bottom: -6px;
    right: -6px;
    /* cursor: se-resize; */
}

.dot.top-mid {
    top: -6px;
    left: calc(50% - 5px);
    /* cursor: n-resize; */
}

.dot.left-mid {
    left: -6px;
    top: calc(50% - 5px);
    /* cursor: w-resize; */
}

.dot.right-mid {
    right: -6px;
    top: calc(50% - 5px);
    /* cursor: e-resize; */
}

.dot.bottom-mid {
    bottom: -6px;
    left: calc(50% - 5px);
    /* cursor: s-resize; */
}

.rotate:hover {
    cursor: url('https://findicons.com/files/icons/1620/crystal_project/16/rotate_ccw.png'),
        auto;
}

/* .rotate-link {
    position: absolute;
    width: 1px;
    height: 15px;
    background-color: #1e88e5;
    top: -20px;
    left: calc(50% + 0.5px);
    z-index: -1;
} */
